# Social Media dataset Casestudy

CLIENT OVERVIEW and PROBLEM STATEMENT

Client name: Social Buzz
Client industry: Social media & content creation
Year established: 2010
Location of HQ: San Francisco
Number of employees: 250
Client background:
Social Buzz was founded by two former engineers from a large social media conglomerate, one
from London and the other from San Francisco. They left in 2008 and both met in San
Francisco to start their business. They started Social Buzz because they saw an opportunity to
build on the foundation that their previous company started by creating a new platform where
content took center stage. Social Buzz emphasizes content by keeping all users anonymous,
only tracking user reactions on every piece of content. There are over 100 ways that users can
react to content, spanning beyond the traditional reactions of likes, dislikes, and comments.
This ensures that trending content, as opposed to individual users, is at the forefront of user
feeds.
Over the past 5 years, Social Buzz has reached over 500 million active users each month.
They have scaled quicker than anticipated and need the help of an advisory firm to oversee
their scaling process effectively.
Due to their rapid growth and digital nature of their core product, the amount of data that they
create, collect and must analyze is huge. Every day over 100,000 pieces of content, ranging
from text, images, videos and GIFs are posted. All of this data is highly unstructured and
requires extremely sophisticated and expensive technology to manage and maintain. Out of the
250 people working at Social Buzz, 200 of them are technical staff working on maintaining this
highly complex technology.
Up until this point, they have not relied on any third party firms to help them get to where
they are. However there are 3 main reasons why they are now looking at bringing in external
expertise:
    
1) They are looking to complete an IPO by the end of next year and need guidance to
ensure that this goes smoothly.
2) They are still a small company and do not have the resources to manage the scale that
they are currently at. They could hire more people, but they want an experienced
practice to help instead.
3) They want to learn data best practices from a large corporation. Due to the nature of
their business, they have a massive amount of data so they are keen on

OBJECTIVE- 

1) We need to analyse the given data for analysing approximate number of posts per day.

2) Type of Contents posted on social media and what are top trending post contents .

3) Sentiment analysis on dataset.

4) Problem of capitalisation on bulk data

5) Insights for further operations.

### Importing Libraries

In [1]:


import os
import pandas as pd

In [2]:
# Importing the datasets

contents= pd.read_csv('E:/1.DATA_SCIENCE/Datasets/social_media/Content.csv')       
profile =pd.read_csv('E:/1.DATA_SCIENCE/Datasets/social_media/Profile.csv')
reactions=pd.read_csv('E:/1.DATA_SCIENCE/Datasets/social_media/Reactions.csv')
reaction_types= pd.read_csv('E:/1.DATA_SCIENCE/Datasets/social_media/ReactionTypes.csv')


print(contents.shape)
print(profile.shape)
print(reactions.shape)
print(reaction_types.shape)


reaction_types

(1000, 6)
(500, 4)
(25553, 5)
(16, 4)

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [3]:
contents.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

### Checking Datatypes

In [4]:
print(contents.dtypes)
print(profile.dtypes)
print(reactions.dtypes)
print(reaction_types.dtypes)

Unnamed: 0     int64
Content ID    object
User ID       object
Type          object
Category      object
URL           object
dtype: object
Unnamed: 0     int64
User ID       object
Interests     object
Age            int64
dtype: object
Unnamed: 0     int64
Content ID    object
User ID       object
Type          object
Datetime      object
dtype: object
Unnamed: 0     int64
Type          object
Sentiment     object
Score          int64
dtype: object

### Cleaning and making data feasible table wise

In [7]:
# From " content " cleaning and removing data.

contents.drop(contents.columns[[0,3]], axis = 1, inplace = True)
contents.head()

,Content ID,User ID,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,technology,https://socialbuzz.cdn.com/content/storage/356...
4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,food,https://socialbuzz.cdn.com/content/storage/01a...

In [8]:
# From " profile " cleaning and removing data.

profile.drop(profile.columns[0], axis = 1, inplace = True)
profile.head()

,User ID,Interests,Age
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41
1,95258c36-5b6b-4591-85ee-0c43f503c1d5,['tennis'],23
2,a8229d24-f219-4930-a382-24049a8f73bb,"['fitness', 'cooking', 'animals', 'travel']",25
3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"['technology', 'culture', 'veganism']",2
4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,['education'],44

### Joining the datasets using its keys

((profile->contents)->reactions)->reaction_types )

In [7]:
# Using outer join to consider all columns for use

In [9]:
Join_1 = pd.merge(profile, contents, how='outer', on='User ID')
Join_1.head()

,User ID,Interests,Age,Content ID,Category,URL
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,636e6499-b670-4cd4-a829-2c4c9e07db2a,soccer,https://socialbuzz.cdn.com/content/storage/636...
1,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,4b582733-141e-488f-8d02-3c4b149815a5,fitness,https://socialbuzz.cdn.com/content/storage/4b5...
2,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,674507f9-c555-4876-89c7-c06b6db561c0,animals,https://socialbuzz.cdn.com/content/storage/674...
3,95258c36-5b6b-4591-85ee-0c43f503c1d5,['tennis'],23,8fa19e64-72ab-4cff-bc92-b8a057395043,food,https://socialbuzz.cdn.com/content/storage/8fa...
4,95258c36-5b6b-4591-85ee-0c43f503c1d5,['tennis'],23,c13e7406-c610-4721-b80d-2b5ad533e90a,cooking,https://socialbuzz.cdn.com/content/storage/c13...

In [10]:
Join_1.drop(Join_1.columns[[4]], axis = 1, inplace = True)
Join_1.head()

,User ID,Interests,Age,Content ID,URL
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,636e6499-b670-4cd4-a829-2c4c9e07db2a,https://socialbuzz.cdn.com/content/storage/636...
1,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,4b582733-141e-488f-8d02-3c4b149815a5,https://socialbuzz.cdn.com/content/storage/4b5...
2,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,674507f9-c555-4876-89c7-c06b6db561c0,https://socialbuzz.cdn.com/content/storage/674...
3,95258c36-5b6b-4591-85ee-0c43f503c1d5,['tennis'],23,8fa19e64-72ab-4cff-bc92-b8a057395043,https://socialbuzz.cdn.com/content/storage/8fa...
4,95258c36-5b6b-4591-85ee-0c43f503c1d5,['tennis'],23,c13e7406-c610-4721-b80d-2b5ad533e90a,https://socialbuzz.cdn.com/content/storage/c13...

In [11]:
Join_2 = pd.merge(Join_1, reactions, how='outer', on='Content ID')
Join_2.head()

,User ID_x,Interests,Age,Content ID,URL,Unnamed: 0,User ID_y,Type,Datetime
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,636e6499-b670-4cd4-a829-2c4c9e07db2a,https://socialbuzz.cdn.com/content/storage/636...,7251.0,NaN,NaN,2020-10-19 18:06:49
1,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,636e6499-b670-4cd4-a829-2c4c9e07db2a,https://socialbuzz.cdn.com/content/storage/636...,7252.0,9fbae7e6-65a9-4753-8db9-5f7855b6a540,indifferent,2020-12-31 20:12:39
2,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,636e6499-b670-4cd4-a829-2c4c9e07db2a,https://socialbuzz.cdn.com/content/storage/636...,7253.0,289044c8-e74c-4814-898a-b3b5eba6e46e,heart,2020-09-09 12:14:26
3,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,636e6499-b670-4cd4-a829-2c4c9e07db2a,https://socialbuzz.cdn.com/content/storage/636...,7254.0,d1a89d23-7d17-4949-9e1a-637317141f3d,super love,2021-04-10 01:32:31
4,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,636e6499-b670-4cd4-a829-2c4c9e07db2a,https://socialbuzz.cdn.com/content/storage/636...,7255.0,4fe420fa-a193-4408-bd5d-62a020233609,disgust,2020-10-25 11:46:47

In [12]:
Join_3 = pd.merge(Join_2, reaction_types , how='outer', on='Type')
Join_3.head()

,User ID_x,Interests,Age,Content ID,URL,Unnamed: 0_x,User ID_y,Type,Datetime,Unnamed: 0_y,Sentiment,Score
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,636e6499-b670-4cd4-a829-2c4c9e07db2a,https://socialbuzz.cdn.com/content/storage/636...,7251.0,NaN,NaN,2020-10-19 18:06:49,NaN,NaN,NaN
1,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,4b582733-141e-488f-8d02-3c4b149815a5,https://socialbuzz.cdn.com/content/storage/4b5...,8459.0,NaN,NaN,2020-06-25 08:06:51,NaN,NaN,NaN
2,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,674507f9-c555-4876-89c7-c06b6db561c0,https://socialbuzz.cdn.com/content/storage/674...,12032.0,NaN,NaN,2020-12-03 02:19:01,NaN,NaN,NaN
3,95258c36-5b6b-4591-85ee-0c43f503c1d5,['tennis'],23,8fa19e64-72ab-4cff-bc92-b8a057395043,https://socialbuzz.cdn.com/content/storage/8fa...,15132.0,NaN,NaN,2021-05-14 16:18:00,NaN,NaN,NaN
4,95258c36-5b6b-4591-85ee-0c43f503c1d5,['tennis'],23,c13e7406-c610-4721-b80d-2b5ad533e90a,https://socialbuzz.cdn.com/content/storage/c13...,25201.0,NaN,NaN,2021-01-08 18:49:10,NaN,NaN,NaN

### removing null values

In [20]:
df1 =Join_3.dropna()

In [21]:
df1.head()

,User ID_x,Interests,Age,Content ID,URL,Unnamed: 0_x,User ID_y,Type,Datetime,Unnamed: 0_y,Sentiment,Score
1054,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,636e6499-b670-4cd4-a829-2c4c9e07db2a,https://socialbuzz.cdn.com/content/storage/636...,7252.0,9fbae7e6-65a9-4753-8db9-5f7855b6a540,indifferent,2020-12-31 20:12:39,5.0,neutral,20.0
1056,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,674507f9-c555-4876-89c7-c06b6db561c0,https://socialbuzz.cdn.com/content/storage/674...,12050.0,3d13e0d3-e765-4065-9221-3f864689b9e0,indifferent,2021-04-05 20:27:20,5.0,neutral,20.0
1063,2bd9c167-e06c-47c1-a978-3403d6724606,"['culture', 'healthy eating']",28,0bedca96-fb76-4287-a83c-17330ed39cce,https://socialbuzz.cdn.com/content/storage/0be...,179.0,91bec0ab-a8d4-421e-b333-e511c7c6f9a0,indifferent,2021-01-13 13:11:03,5.0,neutral,20.0
1064,2bd9c167-e06c-47c1-a978-3403d6724606,"['culture', 'healthy eating']",28,ed28489e-90b0-4daa-a1fa-22170cdc89d5,https://socialbuzz.cdn.com/content/storage/ed2...,13437.0,ed5e1675-94a8-482c-8b43-1b9bb71d0495,indifferent,2021-06-01 09:11:33,5.0,neutral,20.0
1065,2bd9c167-e06c-47c1-a978-3403d6724606,"['culture', 'healthy eating']",28,ed28489e-90b0-4daa-a1fa-22170cdc89d5,https://socialbuzz.cdn.com/content/storage/ed2...,13448.0,73a9e869-62a6-4508-b146-20dc9de19276,indifferent,2020-08-20 08:36:38,5.0,neutral,20.0

In [22]:
df1.drop(df1.columns[[5,6,9]], axis = 1, inplace = True)

C:\Users\30jun\AppData\Local\Temp\ipykernel_3492\2424598182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(df1.columns[[5,6,9]], axis = 1, inplace = True)

In [17]:
df1.head()

,User ID_x,Interests,Age,Content ID,URL,Type,Datetime,Sentiment,Score
1054,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,636e6499-b670-4cd4-a829-2c4c9e07db2a,https://socialbuzz.cdn.com/content/storage/636...,indifferent,2020-12-31 20:12:39,neutral,20.0
1056,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,674507f9-c555-4876-89c7-c06b6db561c0,https://socialbuzz.cdn.com/content/storage/674...,indifferent,2021-04-05 20:27:20,neutral,20.0
1063,2bd9c167-e06c-47c1-a978-3403d6724606,"['culture', 'healthy eating']",28,0bedca96-fb76-4287-a83c-17330ed39cce,https://socialbuzz.cdn.com/content/storage/0be...,indifferent,2021-01-13 13:11:03,neutral,20.0
1064,2bd9c167-e06c-47c1-a978-3403d6724606,"['culture', 'healthy eating']",28,ed28489e-90b0-4daa-a1fa-22170cdc89d5,https://socialbuzz.cdn.com/content/storage/ed2...,indifferent,2021-06-01 09:11:33,neutral,20.0
1065,2bd9c167-e06c-47c1-a978-3403d6724606,"['culture', 'healthy eating']",28,ed28489e-90b0-4daa-a1fa-22170cdc89d5,https://socialbuzz.cdn.com/content/storage/ed2...,indifferent,2020-08-20 08:36:38,neutral,20.0

### Checking for duplicates

In [24]:
# Checking duplicates in all data sets.

d = Join_3[Join_3.duplicated()]# zero duplicates found
print(d)

Empty DataFrame
Columns: [User ID_x, Interests, Age, Content ID, URL, Unnamed: 0_x, User ID_y, Type, Datetime, Unnamed: 0_y, Sentiment, Score]
Index: []

In [ ]:
# Exporting the cleaned data for backup (for safety)

In [23]:
Join_3.to_csv('E:/1.DATA_SCIENCE/cleaned_socialmediaerrr2_join.csv', index=False)

In [ ]:
#Importing the clean data and modifying as per requirement

In [55]:
c_df = pd.read_csv('E:/1.DATA_SCIENCE/cleaned_socialmedia1.csv')

c_df.head(6)

,User ID_x,Interests,Age,Content ID,Category,Type,Datetime,Sentiment,Score
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,636e6499-b670-4cd4-a829-2c4c9e07db2a,soccer,indifferent,2020-12-31 20:12:39,neutral,20.0
1,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,674507f9-c555-4876-89c7-c06b6db561c0,animals,indifferent,2021-04-05 20:27:20,neutral,20.0
2,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"['technology', 'culture', 'veganism']",2,f0d1b3ed-f1dd-4a09-b17a-b0f241932fbb,studying,indifferent,2020-07-05 19:55:52,neutral,20.0
3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"['technology', 'culture', 'veganism']",2,f0d1b3ed-f1dd-4a09-b17a-b0f241932fbb,studying,indifferent,2020-10-21 23:24:32,neutral,20.0
4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,['education'],44,abf9ec3b-1d0f-4238-a8f8-137072dab287,veganism,indifferent,2021-02-20 21:37:29,neutral,20.0
5,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,['education'],44,abf9ec3b-1d0f-4238-a8f8-137072dab287,veganism,indifferent,2020-08-14 09:38:24,neutral,20.0

In [56]:
c_df['Datetime']=pd.to_datetime(c_df['Datetime'])

In [58]:

c_df.dtypes

User ID_x             object
Interests             object
Age                    int64
Content ID            object
Category              object
Type                  object
Datetime      datetime64[ns]
Sentiment             object
Score                float64
dtype: object

In [59]:
# adding a 'month' column

n1= c_df['Month'] = c_df['Datetime'].dt.strftime('%b')

In [61]:
c_df.head()

,User ID_x,Interests,Age,Content ID,Category,Type,Datetime,Sentiment,Score,Month
0,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,636e6499-b670-4cd4-a829-2c4c9e07db2a,soccer,indifferent,2020-12-31 20:12:39,neutral,20.0,Dec
1,4c731e48-0377-4d7d-b4c8-b2174b774ed8,"[0, 1]",41,674507f9-c555-4876-89c7-c06b6db561c0,animals,indifferent,2021-04-05 20:27:20,neutral,20.0,Apr
2,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"['technology', 'culture', 'veganism']",2,f0d1b3ed-f1dd-4a09-b17a-b0f241932fbb,studying,indifferent,2020-07-05 19:55:52,neutral,20.0,Jul
3,8f41c07f-db4f-44f3-ae81-1f99cee047eb,"['technology', 'culture', 'veganism']",2,f0d1b3ed-f1dd-4a09-b17a-b0f241932fbb,studying,indifferent,2020-10-21 23:24:32,neutral,20.0,Oct
4,3af8d78b-55c4-4ac0-8161-7cc3f6ec11c9,['education'],44,abf9ec3b-1d0f-4238-a8f8-137072dab287,veganism,indifferent,2021-02-20 21:37:29,neutral,20.0,Feb

### Exporting the final dataset to visulize it further

In [ ]:
c_df.to_csv('E:/1.DATA_SCIENCE/cleaned_socialmedia_final_join.csv', index=False)

### Visualization

In [ ]:
# visulization and dashboard is made using Power Bi desktop

https://github.com/Shubh26ham/Social-media-Dataset-Casestudy/blob/main/2.socialmedia_dashboard.pbix